<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.linlinjava.litemall.db.dao.AuntMapper">
  <resultMap id="BaseResultMap" type="org.linlinjava.litemall.db.domain.Aunt">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="head_url" jdbcType="VARCHAR" property="headUrl" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="experience" jdbcType="VARCHAR" property="experience" />
    <result column="expertin" jdbcType="VARCHAR" property="expertin" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="des" jdbcType="VARCHAR" property="des" />
    <result column="audit_status" jdbcType="BOOLEAN" property="auditStatus" />
    <result column="is_del" jdbcType="BOOLEAN" property="isDel" />
    <result column="sale_status" jdbcType="BOOLEAN" property="saleStatus" />
    <result column="real_status" jdbcType="BOOLEAN" property="realStatus" />
    <result column="sign" jdbcType="CHAR" property="sign" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nick_name, sex, head_url, age, birthday, native_place, experience, expertin,
    education, des, audit_status, is_del, sale_status, real_status, sign
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from litemall_aunt
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from litemall_aunt
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.linlinjava.litemall.db.domain.Aunt" useGeneratedKeys="true">
    insert into litemall_aunt (nick_name, sex, head_url,
      age, birthday, native_place,
      experience, expertin, education,
      des, audit_status, is_del,
      sale_status, real_status, sign
      )
    values (#{nickName,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{headUrl,jdbcType=VARCHAR},
      #{age,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, #{nativePlace,jdbcType=VARCHAR},
      #{experience,jdbcType=VARCHAR}, #{expertin,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR},
      #{des,jdbcType=VARCHAR}, #{auditStatus,jdbcType=BOOLEAN}, #{isDel,jdbcType=BOOLEAN},
      #{saleStatus,jdbcType=BOOLEAN}, #{realStatus,jdbcType=BOOLEAN}, #{sign,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.linlinjava.litemall.db.domain.Aunt" useGeneratedKeys="true">
    insert into litemall_aunt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="headUrl != null">
        head_url,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="nativePlace != null">
        native_place,
      </if>
      <if test="experience != null">
        experience,
      </if>
      <if test="expertin != null">
        expertin,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="des != null">
        des,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="saleStatus != null">
        sale_status,
      </if>
      <if test="realStatus != null">
        real_status,
      </if>
      <if test="sign != null">
        sign,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="headUrl != null">
        #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="nativePlace != null">
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="experience != null">
        #{experience,jdbcType=VARCHAR},
      </if>
      <if test="expertin != null">
        #{expertin,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=BOOLEAN},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BOOLEAN},
      </if>
      <if test="saleStatus != null">
        #{saleStatus,jdbcType=BOOLEAN},
      </if>
      <if test="realStatus != null">
        #{realStatus,jdbcType=BOOLEAN},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.linlinjava.litemall.db.domain.Aunt">
    update litemall_aunt
    <set>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="headUrl != null">
        head_url = #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="nativePlace != null">
        native_place = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="experience != null">
        experience = #{experience,jdbcType=VARCHAR},
      </if>
      <if test="expertin != null">
        expertin = #{expertin,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        des = #{des,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=BOOLEAN},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BOOLEAN},
      </if>
      <if test="saleStatus != null">
        sale_status = #{saleStatus,jdbcType=BOOLEAN},
      </if>
      <if test="realStatus != null">
        real_status = #{realStatus,jdbcType=BOOLEAN},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.linlinjava.litemall.db.domain.Aunt">
    update litemall_aunt
    set nick_name = #{nickName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      head_url = #{headUrl,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      native_place = #{nativePlace,jdbcType=VARCHAR},
      experience = #{experience,jdbcType=VARCHAR},
      expertin = #{expertin,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      des = #{des,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=BOOLEAN},
      is_del = #{isDel,jdbcType=BOOLEAN},
      sale_status = #{saleStatus,jdbcType=BOOLEAN},
      real_status = #{realStatus,jdbcType=BOOLEAN},
      sign = #{sign,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="getList"  parameterType="org.linlinjava.litemall.db.domain.Aunt" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from litemall_aunt
    where TRUE
    <if test="nickName != null">
      and nick_name LIKE CONCAT('%',#{nickName},'%')
    </if>
    <if test="sex != null">
      and sex = #{sex}
    </if>

    <if test="age != null">
      and  age = #{age,jdbcType=INTEGER}
    </if>

    <if test="nativePlace != null">
      and native_place = #{nativePlace,jdbcType=VARCHAR}
    </if>
    <if test="experience != null">
      and experience = #{experience,jdbcType=VARCHAR}
    </if>
    <if test="expertin != null">
      and  expertin LIKE CONCAT('%',#{expertin},'%')
    </if>
    <if test="education != null">
      and  education = #{education,jdbcType=VARCHAR}
    </if>

    <if test="auditStatus != null">
      and audit_status = #{auditStatus,jdbcType=BOOLEAN}
    </if>
    <if test="isDel != null">
      and is_del = #{isDel,jdbcType=BOOLEAN}
    </if>
    <if test="saleStatus != null">
      and sale_status = #{saleStatus,jdbcType=BOOLEAN}
    </if>
    <if test="realStatus != null">
      and real_status = #{realStatus,jdbcType=BOOLEAN}
    </if>
    <if test="sign != null">
      and sign = #{sign,jdbcType=CHAR}
    </if>
    ORDER BY id
  </select>

</mapper>